<h1>Poker Cards</h1>
<p><%= link_to "Refresh this page to deal a new hand.", main_url %></p>
<%for i in @im do%>
  <% path = i.to_s+'.png' %>
  <%= image_tag( path, :height => '160', :width => '120') %>
<%end%>
